.vscode/
build/
data/
.venv/
__pycache__/
*.pyc
.DS_Store
*.html

*.json
*.txt
*.png
*.bin
*.md

maxpool_config_64_112_112_stride2_padding1_out/
maxpool_config_16_112_112_stride2_padding1_out/
avgpool_config_2048_7_7_out/